@model TaskManager.Web.ViewModels.ForgotPasswordViewModel
@{
    Layout = "_Layout_Auth";
    ViewData["Title"] = "Quên mật khẩu";
}

<div class="card p-4 mx-auto" style="max-width: 400px; min-width: 350px;">
    <h1 class="card-title text-center">@ViewData["Title"]</h1>
    <p class="text-center text-muted small mb-4">Nhập email của bạn và chúng tôi sẽ gửi cho bạn một liên kết để đặt lại mật khẩu.</p>

    <div class="card-body py-0">
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Email của bạn" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="d-grid mt-4">
                <button type="submit" class="btn btn-primary">Gửi link đặt lại</button>
            </div>
        </form>
    </div>

    <div class="text-center mt-4">
        <a asp-action="Login">Quay lại trang Đăng nhập</a>
    </div>
</div>