@model TaskManager.Web.ViewModels.LoginViewModel
@{
    Layout = "_Layout_Auth";
}
@{
    ViewData["Title"] = "Đăng nhập";
}

<div class="card p-4 mx-auto" style="max-width: 400px; margin-top: 50px;">
    <h1 class="text-center card-title">Đăng nhập</h1>
    <hr />
    <div class="card-body">
        <form asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="UsernameOrEmail" class="form-label"></label>
                <input asp-for="UsernameOrEmail" class="form-control" placeholder="Tên đăng nhập hoặc Email" />
                <span asp-validation-for="UsernameOrEmail" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" placeholder="Mật khẩu" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Đăng nhập</button>
            </div>
        </form>
    </div>
    <div class="text-center mt-3">
        <p>Bạn chưa có tài khoản? <a asp-action="Register">Đăng ký ngay</a>.</p>
    </div>
    <div class="text-center mt-2">
        <a asp-action="ForgotPassword">Quên mật khẩu?</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}