@model TaskManager.Web.ViewModels.RegisterViewModel
@{
    Layout = "_Layout_Auth";
}
@{
    ViewData["Title"] = "Đăng ký tài khoản";
}

<div class="card p-4 mx-auto" style="max-width: 400px; margin-top: 50px;">
    <h1 class="text-center card-title">Đăng ký tài khoản</h1>
    <hr />
    <div class="card-body">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Username" class="form-label"></label>
                <input asp-for="Username" class="form-control" placeholder="Tên đăng nhập" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" placeholder="Mật khẩu" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Xác nhận mật khẩu" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Đăng ký</button>
            </div>
        </form>
    </div>
    <div class="text-center mt-3">
        <p>Bạn đã có tài khoản? <a asp-action="Login">Đăng nhập</a>.</p>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}