@{
    Layout = "_Layout_Auth";
}
@{
    ViewData["Title"] = "Thành công";
}
<div class="card p-4 mx-auto text-center" style="max-width: 400px;">
    <h1 class="card-title">Mật khẩu đã được đặt lại</h1>
    <p>Bây giờ bạn có thể đăng nhập với mật khẩu mới.</p>
    <div class="d-grid mt-2">
        <a asp-action="Login" class="btn btn-primary">Đi đến trang Đăng nhập</a>
    </div>
</div>